<% include ./partials/header %> <br /><br />
<title>Welcome to Movie Mania</title>
<h4 class="heading"><center>LATEST MOVIES</center></h4>

<div class="slidershow middle">
  <div class="slides">
    <input type="radio" name="r" id="r1" checked />
    <input type="radio" name="r" id="r2" />
    <input type="radio" name="r" id="r3" />
    <input type="radio" name="r" id="r4" />
    <input type="radio" name="r" id="r5" />
    <div class="slide s1">
      <a href="/movie/joker">
        <img
        src="https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/styles/movie_1500x580/rcf/news/Joker_annoucement_blog.jpg?itok=DSC0ZBqW"
        alt="Joker: Put on a happy face"
        />
      </a>
    </div>

    <div class="slide">
      <a href="/movie/Avengers: Endgame">
        <img
          src="http://www.kiwithebeauty.com/wp-content/uploads/2019/08/avengers-end-game-blu-ray-4.jpg"
          alt="Avengers: Endgame"
        />
      </a>
    </div>

    <div class="slide">
      <a href="/movie/the-lion-king">
        <img
        src="https://lumiere-a.akamaihd.net/v1/images/b_thelionking2019_header_postdigital_18276_88a36086.jpeg?region=0,0,2048,879"
        alt="Disney's The Lion King"
        />
      </a>
    </div>
    <div class="slide">
      <a href="/movie/uri:the-surgical-strike">
        <img
        src="https://images.justwatch.com/backdrop/128719158/s1440/uri-the-surgical-strike"
        alt="Image Not Found"
        />
      </a>
    </div>
    <div class="slide">
      <a href="/movie/gully-boy">
        <img
        src="https://www.liveenhanced.com/wp-content/uploads/2019/05/Download-Gully-Boy-2019-Full-HD-Movie.jpg"
        alt="Image Not Found"
        />
      </a>
    </div>
  </div>

  <div class="navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
    <label for="r4" class="bar"></label>
    <label for="r5" class="bar"></label>
  </div>
</div>
<br /><br /><br />
<h4 class="heading">
  <center>
    Welcome to Movie Mania.
  </center>
</h4>

<div style="color: white; background-color: rgba(0,0,0,0.3); font-size: 25px;" class="main">
  <p style="max-width: 80%; width: 50%;"></p>
  Movie Mania recommends Movies and TV Shows according to your watch history and playlist. <br>
  It also determines what you would like based on other users' ratings and reviews.<br>
  <br>
  To take maximum advantage of this system, Login or Sign Up to Movie Mania <br>
  <a href="/login" class="btn btn-primary" style="width: 100px; color:white; background:darkcyan; border-radius: 4px;" type="button" name="button">Log In</a>

  <a href="/register" class="btn btn-primary" style="width: 100px; margin: 15px; color:white; background:brown; border-radius: 4px;" type="button" name="button">Sign UP</a>
  <br><br>
  After you Sign In you will get access to our special page (<code>named: Movies for you</code>) which will list all the Movies you will definitely like.<br>
  <br>
  You can also search for a movie using the search box on the top right.<br>
  If you ever feel lost, don't worry. Just click the icon on the top left to return to this page.<br><br>
  Let's give it a try!!!
  <br>


</div>

<% include ./partials/footer %>
